.modalOverlay{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    inset: 0;
    width: 100%;
    height: 100vh;
    animation: dropRight ease-in-out .7s;

    .modalContainer {
        width: 95%;
        height: 85%;
        padding: .9375rem .9375rem .9375rem 0;
        margin-top: 4.0625rem;
        margin-right: .625rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        border-radius: var(--radius-default);
        background: rgba(0, 0, 0, 0.788);
        border: .125rem solid rgba(32, 223, 80, .5);
        gap: 6.25rem;
        .btnClose {
            color: #FFFFFF;
            font-size: 1.25rem;
            border: 2px solid rgba(32, 223, 80);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }

        nav {
            

            ul {
                text-align: right;
                display: flex;
                flex-direction: column;
                font-size: 1.125rem;
                font-weight: 800;
                font-style: italic;
                gap: 3.125rem;
                
                li {
                    a {
                        border-bottom: .125rem solid rgba(32, 223, 80);
                    }
                }
            }
        }
    }
}

@keyframes dropRight {
    0%{
        transform: translateY(-100px);
      }
    70%{
        transform: translateY(10px);
      }
    100%{
        transform: translateY(0);
      }
  }