.mainContainer {
    width: min(1180px, 100%);
    margin-top: 4.375rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 0 0.75rem 3rem;
    align-self: center;
    @media (max-width: 768px) {
        align-items: center;
        justify-content: center;
        padding: 0 0.25rem 2.5rem;
    }
}