.headerContainer {
    width: 100%;
    padding: 1.25rem;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(18, 18, 20, 0.99);
    border-bottom: .0938rem solid var(--color-line-green);
    h2 {
        font-size: clamp(1.125rem, 1.0000rem + 0.5556vw, 1.5rem);
        font-weight: 800;
        font-style: oblique;
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
            font-weight: 400;
            gap: clamp(0.313rem, 0.0007rem + 1.3881vw, 1.25rem);
        }
    }
};